<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf8"/>
		<link rel="stylesheet" href="../css/styles.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	</head>
	<body>
		<div class='icon'><i class="fas fa-upload"></i></div>
		<form action="/upload" enctype="multipart/form-data" method="post">
			<label>File name</label>
			<input type="text" name="title">
			<br>
			<label>File</label>
			<input type="file" name="upload" multiple="multiple">
			<br>
			<input type="submit" value="Wyslij">
		</form>
	</body>
</html>